.form {
  display: flex;
}

.add_btn {
  padding: 10px;
  width: 20%;
  background: green;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  &:hover {
    background-color: darkgreen;
  }
}

input[type="text"] {
  margin: 0;
  border-radius: 0;
  width: 40%;
  padding: 10px;
  font-size: 16px;
}
